{{#if isActive}}
  {{#ember-wormhole to="wormhole-context-menu"}}
    <div class="context-menu-container" style={{position}} oncontextmenu="return false;">
      <ul class="context-menu {{if renderLeft "context-menu--left"}} {{if renderUp "context-menu--up"}}">
        {{#each items as |item|}}
          {{context-menu-item item=item
                              amount=selection.length
                              itemIsDisabled=itemIsDisabled
                              clickAction=clickAction
                              deactivate=(action "deactivate")}}
        {{/each}}
      </ul>
    </div>
  {{/ember-wormhole}}
{{/if}}
