<h1>
  Ember-context-menu
</h1>
<p>
  Click to select a block, right-click *on selected blocks* for the context-menu.
</p>
{{#each this.model as |item|}}
  <TestComponent
    item={{item}}
    contextSelection={{this.selection}}
    {{on 'click' @toggleSelectItem}}
  />
{{/each}}
<p>
  <a href="https://github.com/cbroeren/ember-context-menu">
    See README for detailed HOW TO
  </a>
</p>
<ContextMenu />